@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    width: 100%;
}

body {
    color: #fff;
    margin: 0;
    background-color: rgb(1 0 7 / 1);
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

:-moz-focus-inner {
    border-width: 0px;
}
